[submodule "external/srfi-132"]
	path = external/srfi-132
	url = https://github.com/scheme-requests-for-implementation/srfi-132.git
[submodule "external/srfi-125"]
	path = external/srfi-125
	url = https://github.com/scheme-requests-for-implementation/srfi-125.git
[submodule "external/srfi-126"]
	path = external/srfi-126
	url = https://github.com/scheme-requests-for-implementation/srfi-126.git
[submodule "external/srfi-128"]
	path = external/srfi-128
	url = https://github.com/scheme-requests-for-implementation/srfi-128.git
[submodule "external/srfi-113"]
	path = external/srfi-113
	url = https://github.com/scheme-requests-for-implementation/srfi-113.git
[submodule "external/srfi-158"]
	path = external/srfi-158
	url = https://github.com/scheme-requests-for-implementation/srfi-158.git
[submodule "external/srfi-115"]
	path = external/srfi-115
	url = https://github.com/scheme-requests-for-implementation/srfi-115.git
[submodule "external/srfi-151"]
	path = external/srfi-151
	url = https://github.com/scheme-requests-for-implementation/srfi-151.git
[submodule "external/srfi-130"]
	path = external/srfi-130
	url = https://github.com/scheme-requests-for-implementation/srfi-130.git
[submodule "external/srfi-133"]
	path = external/srfi-133
	url = https://github.com/scheme-requests-for-implementation/srfi-133.git
[submodule "external/srfi-134"]
	path = external/srfi-134
	url = https://github.com/scheme-requests-for-implementation/srfi-134.git
