[submodule "external/srfi-132"]
	path = external/srfi-132
	url = https://github.com/scheme-requests-for-implementation/srfi-132.git
[submodule "external/srfi-125"]
	path = external/srfi-125
	url = https://github.com/scheme-requests-for-implementation/srfi-125.git
[submodule "external/srfi-126"]
	path = external/srfi-126
	url = https://github.com/scheme-requests-for-implementation/srfi-126.git
[submodule "external/srfi-128"]
	path = external/srfi-128
	url = https://github.com/scheme-requests-for-implementation/srfi-128.git
[submodule "external/srfi-113"]
	path = external/srfi-113
	url = https://github.com/scheme-requests-for-implementation/srfi-113.git
